* {
  text-align: center;
  font-family: Helvetica;
  font-weight: 550;
  margin: 0;
}

.header {
  height: 100px;
  background-color: #e0e0e0;
}

.header > p {
  padding: 30px;
}
.main {
  display: flex;
  align-items: flex-start;
}

.section,
.aside {
  height: 300px;
}

.section {
  width: 70%;
  padding: 20px;
  background-color: #fff8e3;
}

.section > p:first-child {
  padding: 40px;
}

.section > p:nth-child(1n + 2),
.section-middle > p {
  margin-top: 10px;
  padding: 30px;
  background-color: #feeab9;
}

.section-middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section-middle > p {
  width: 40%;
  margin-bottom: 20px;
}

.aside {
  padding-top: 40px;
  width: 30%;
  background-color: #ddeccb;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  height: 100px;
  background-color: #e0e0e0;
}

.footer > p {
  width: 20%;
  margin: 10px;
  padding: 25px;
  background-color: #fafafa;
}
